*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

/* HEADER */


/* NAVBAR */

.top-nav{
    width: 100%;
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
}

.logo-svg{
    width: 168px;
    height: 61px;
}

.menu-container{
    display: flex;
    justify-content: space-between;
    height: 61px;
    flex: 0 70%;
    background-color: white;
}

.menu-container ul{
    display: flex;
    list-style-type: none;
    gap: 0 1.8vw;
}

.menu-container li{
    height: 61px;
    padding: 20px;
}

.menu-container a{
    color: black;
}

.menu-container li:hover{
    border-bottom: 2px solid red;
}

.account-logo{
    height: 61px;
    padding: 10px;
}

.account-logo:hover{
    border-bottom: 2px solid red;
}

/* MOBILE MENU BUTTON */

#menu{
    display: none;
}

.top-nav label{
    display: none;
}

.menu-button{
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 5px 0;
    justify-content: center;
    align-items: center;
}

.menu-button li{
    width: 100%;
    height: 7px;
    background-color: #404040;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#menu:checked ~ label ul li:first-child{
    transform: translateY(18px) rotate(45deg) ;
    -webkit-transform: translateY(18px) rotate(45deg) ;
    -moz-transform: translateY(18px) rotate(45deg) ;
    -ms-transform: translateY(18px) rotate(45deg) ;
    -o-transform: translateY(18px) rotate(45deg) ;
}

#menu:checked ~ label ul li:nth-child(2){
    transform:translateY(6px) rotate(-45deg) ;
    -webkit-transform:translateY(6px) rotate(-45deg) ;
    -moz-transform:translateY(6px) rotate(-45deg) ;
    -ms-transform:translateY(6px) rotate(-45deg) ;
    -o-transform:translateY(6px) rotate(-45deg) ;
}

#menu:checked ~ label ul li:last-child{
    transform: translateY(-6px) rotate(45deg) ;
    -webkit-transform: translateY(-6px) rotate(45deg) ;
    -moz-transform: translateY(-6px) rotate(45deg) ;
    -ms-transform: translateY(-6px) rotate(45deg) ;
    -o-transform: translateY(-6px) rotate(45deg) ;
}



/* SECTION 1 */

.section1{
    background-image: url(assets/home/img/banner-1.jpg);
    width: 100%;
    height: 680px;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.section1 div{
    display: flex;
    flex-direction: column;
    padding-left: 21%;
    padding-top: 15%;
}

.section1 div span:nth-child(2){
    font-size: 48px;
    padding-bottom: 30px;
    padding-top: 10px;
}

.section1 div span:nth-child(3){
    color: white;
    text-decoration: underline;
}

/* SECTION 2 */

.section2{
    display: flex;
    background-image: url(assets/home/img/banner-2.jpg);
    width: 100%;
    height: 680px;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
}

.section2 div{
    display: flex;
    flex-direction: column;
    padding-left: 21%;

}

.section2 div span:nth-child(2){
    font-size: 48px;
    padding-bottom: 30px;
    padding-top: 10px;
}

.section2 div a{
    color: white;
    text-decoration: underline;
}

/* SECTION 3 */

.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/home/img/banner-3.jpg);
    width: 100%;
    height: 680px;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    font-size: 16px;
    font-weight: 400;
}

.section3 div{
    display: flex;
    flex-direction: column;
    padding-left: 21%;
    gap: 3vh;
}

.section3 div span:first-child{
    font-size: 48px;
}

.section3 div span:nth-child(3){
    color: black;
    text-decoration: underline;
}

/* SECTION 4 */

.section4{
    display: flex;
    justify-content: center;
}

.section4 div{
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    padding-top: 2%;
    gap: 7vh;
    text-align: center;
    color: #404040;
    font-weight: 400;
}

.section4 div:first-child img{
    width: 200px;
    height: 65px;
}

.section4 div:nth-child(2) img{
    width: 65px;
    height: 65px;
}

.section4 div:last-child img{ 
    width: 200px;
    height: 65px;
    padding-bottom: 20px;
}

.section4 div a{
    color:black;
    text-decoration: underline;
}

/* RESPONSIVE */

@media screen and (max-width: 1275px) {

    .top-nav{
        flex-direction: column;
    }

    .top-nav label{
        display: block;
        position: fixed;
        top: 10px;
        left: 20px;
    }

    .mobile-menu{
        display: none;
        flex-direction: column;
        position: fixed;
        top:60px;
        left: 0;
        width: 100vw;
        height: calc(100vh - 61px);
        justify-content: flex-start;
    }

    .mobile-menu ul{
        flex-direction: column;
    }

    #menu:checked ~ .mobile-menu{
        display: flex;
    }

    .section1{
        background: url(assets/home/img/section1-mobile.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section1 div{
        padding-top: 10%;
    }

    /* SECTION 2 */

    .section2{
        background: url(assets/home/img/section2-mobile.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section2 div{
        padding-bottom: 30%;
        padding-left: 5%;
    }

    /* SECTION 3 */

    .section3{
        background: url(assets/home/img/section3-mobile.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section3 div{
        padding-bottom: 30%;
        padding-left: 5%;
    }

    /* SECTION 4 */

    .section4{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .section4 div{
        width: 100%;
    }
}
