*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

/* HEADER */
header{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 61px;
}

/* NAVBAR */

.top-nav{
    width: 100%;
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.logo-svg{
    width: 168px;
    height: 61px;
}

.menu-container{
    display: flex;
    justify-content: space-between;
    height: 61px;
    flex: 0 70%;
    background-color: white;
}

.menu-container ul{
    display: flex;
    list-style-type: none;
    gap: 0 1.8vw;
}

.menu-container li{
    height: 61px;
    padding: 20px;
}

.menu-container a{
    color: black;
}

.menu-container li:hover{
    border-bottom: 2px solid red;
}

.account-logo{
    height: 61px;
    padding: 10px;
}

.account-logo:hover{
    border-bottom: 2px solid red;
}

/* MOBILE MENU BUTTON */

#menu{
    display: none;
}

.top-nav label{
    display: none;
}

.menu-button{
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 5px 0;
    justify-content: center;
    align-items: center;
}

.menu-button li{
    width: 100%;
    height: 7px;
    background-color: #404040;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#menu:checked ~ label ul li:first-child{
    transform: translateY(18px) rotate(45deg) ;
    -webkit-transform: translateY(18px) rotate(45deg) ;
    -moz-transform: translateY(18px) rotate(45deg) ;
    -ms-transform: translateY(18px) rotate(45deg) ;
    -o-transform: translateY(18px) rotate(45deg) ;
}

#menu:checked ~ label ul li:nth-child(2){
    transform:translateY(6px) rotate(-45deg) ;
    -webkit-transform:translateY(6px) rotate(-45deg) ;
    -moz-transform:translateY(6px) rotate(-45deg) ;
    -ms-transform:translateY(6px) rotate(-45deg) ;
    -o-transform:translateY(6px) rotate(-45deg) ;
}

#menu:checked ~ label ul li:last-child{
    transform: translateY(-6px) rotate(45deg) ;
    -webkit-transform: translateY(-6px) rotate(45deg) ;
    -moz-transform: translateY(-6px) rotate(45deg) ;
    -ms-transform: translateY(-6px) rotate(45deg) ;
    -o-transform: translateY(-6px) rotate(45deg) ;
}



/* SECTION 1 */

.section1{
    background-image: url(assets/home/img/banner-1.jpg);
    width: 100%;
    height: 680px;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.section1 div{
    display: flex;
    flex-direction: column;
    padding-left: 21%;
    padding-top: 15%;
}

.section1 div span:nth-child(2){
    font-size: 48px;
    padding-bottom: 30px;
    padding-top: 10px;
}

.section1 div span:nth-child(3){
    color: white;
    text-decoration: underline;
}

/* SECTION 2 */

.section2{
    display: flex;
    background-image: url(assets/home/img/banner-2.jpg);
    width: 100%;
    height: 680px;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
}

.section2 div{
    display: flex;
    flex-direction: column;
    padding-left: 21%;

}

.section2 div span:nth-child(2){
    font-size: 48px;
    padding-bottom: 30px;
    padding-top: 10px;
}

.section2 div a{
    color: white;
    text-decoration: underline;
}

/* SECTION 3 */

.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/home/img/banner-3.jpg);
    width: 100%;
    height: 680px;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    font-size: 16px;
    font-weight: 400;
}

.section3 div{
    display: flex;
    flex-direction: column;
    padding-left: 21%;
    gap: 3vh;
}

.section3 div span:first-child{
    font-size: 48px;
}

.section3 div span:nth-child(3){
    color: black;
    text-decoration: underline;
}

/* SECTION 4 */

.section4{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.section4 div{
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    padding-top: 2%;
    gap: 7vh;
    text-align: center;
    color: #404040;
    font-weight: 400;
}

.section4 div:first-child img{
    width: 200px;
    height: 65px;
}

.section4 div:nth-child(2) img{
    width: 65px;
    height: 65px;
}

.section4 div:last-child img{ 
    width: 200px;
    height: 65px;
    padding-bottom: 20px;
}

.section4 div a{
    color:black;
    text-decoration: underline;
}

/* SECTION 5 */

.section5{
    background-image: url(assets/home/img/banner-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.section5 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    padding-top: 70px;
    gap:10px;
}

.section5 div p:first-child{
    text-align: center;
    font-size: 48px;
}

#email{
    width: 400px;
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: #f6f6f6;
}

.section5 div span{
    text-decoration: underline;
    margin-left: 3px;
}

.section5 a{
    color: black;
    font-size: 14px;
}

/* BOTTOM NAVBAR */

.bott_nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8vh;
}

.bott_nav > div:first-child{
    display: flex;
    gap: 7vw;
    width: 70%;
    padding-top: 30px;
}

.bott_nav div ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 20px;
}

.bott_nav div ul li:first-child{
    color: black;
    padding-bottom: 5px;
}


.bott_nav div ul li a{
    color: #828282;
}

.bott_nav div ul li a:hover{
    color: black;
}

.bott_nav > div:last-child{
    display: flex;
    width: 70%;
    justify-content: flex-end;
    gap: 20px;
    padding: 2vh 2vw;
}

.checkbox-hidden{
    display: none;
}

/* FOOTER */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid silver;
}

footer > div{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 100px;
    padding-top: 2vh;
}

footer ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
    font-size: 12px;
}

.footer-box1 ul li a{
    border-right: 1px solid silver;
    padding-right: 1vw;
    color: #363636;
}

.footer-box1 ul li:last-child a{
    border-right: none;

}

/* RESPONSIVE */

@media screen and (max-width: 1275px) {

    /* HEADER */

    .top-nav{
        flex-direction: column;
    }

    .top-nav label{
        display: block;
        position: fixed;
        top: 10px;
        left: 20px;
    }

    .mobile-menu{
        display: none;
        flex-direction: column;
        position: fixed;
        top:60px;
        left: 0;
        width: 100vw;
        height: calc(100vh - 60px);
        justify-content: flex-start;
    }

    .mobile-menu ul{
        flex-direction: column;
    }

    #menu:checked ~ .mobile-menu{
        display: flex;
    }

    /* SECTION 1 */

    .section1{
        background: url(assets/home/img/section1-mobile.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section1 div{
        padding-top: 19%;
    }

    .section1 div span:nth-child(2){
        padding-bottom: 20px;
    }

    /* SECTION 2 */

    .section2{
        background: url(assets/home/img/section2-mobile.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section2 div{
        padding-bottom: 30%;
        padding-left: 5%;
    }

    /* SECTION 3 */

    .section3{
        background: url(assets/home/img/section3-mobile.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section3 div{
        padding-bottom: 30%;
        padding-left: 5%;
    }

    /* SECTION 4 */

    .section4{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .section4 div{
        width: 100%;
    }

    /* SECTION 5 */

    .section5 div p:first-child{
        text-align: center;
        font-size: 24px;
    }

    #email{
        width: 100%;
        margin: 0 .5vw;
        margin-bottom: 20px;
    }

    /* BOTTOM NAVBAR */

    .bott_nav > div:first-child{
        flex-direction: column;
        gap:0;
        width: 100%;
    }

    .bott_nav > div:last-child{
        justify-content: center;
        gap: 2vh;
        width: 100%;
    }

    .menu-mobile{
        height: 50px;
        overflow: hidden;
        border-width: 1px 0;
        border-style: solid;
        border-color: silver;
        padding: 15px 10px;
    }

    #menu1-check:checked ~* .menu-1{
        height: 350px;
        overflow: hidden;
        border-width: 1px 0;
        border-style: solid;
        border-color: silver;
        padding: 15px 10px;
    }

    #menu2-check:checked ~* .menu-2{
        height: 300px;
        overflow: hidden;
        border-width: 1px 0;
        border-style: solid;
        border-color: silver;
        padding: 15px 10px;
    }

    #menu3-check:checked ~* .menu-3{
        height: 270px;
        overflow: hidden;
        border-width: 1px 0;
        border-style: solid;
        border-color: silver;
        padding: 15px 10px;
    }

    #menu4-check:checked ~* .menu-4{
        height: 200px;
        overflow: hidden;
        border-width: 1px 0;
        border-style: solid;
        border-color: silver;
        padding: 15px 10px;
    }

    #menu5-check:checked ~* .menu-5{
        height: 300px;
        overflow: hidden;
        border-width: 1px 0;
        border-style: solid;
        border-color: silver;
        padding: 15px 10px;
    }

    /* FOOTER */

    .footer-box1{
        flex-direction: column;
        align-items: flex-start;
        justify-content: initial;
        width: 100%;
        padding-left: 3vw;
        gap: 2vh;
        border-bottom: 1px solid silver;
    }

    .footer-box1 ul{
        flex-wrap: wrap;
    }

    .footer-box2{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding-left: 3vw;
        gap: 1vh;
    }

}
